.container {
  margin-top: 15px;
}

.style-selector {
  min-width: 15px;
  min-height: 15px;
  display: inline-block;
  vertical-align: middle;

  &.style-selector-light {
    background-color: white;
    border: 1px solid #d0d0d0;
  }
  &.style-selector-dark {
    background-color: #000;
  }
  &.style-selector-blue {
    background-color: #0275d8;
  }
}

.drag {
  width: 10%;
  margin-left: 5px;
  display: inline;
  text-align: right;
}

.search {
  display: inline-block;
  width: 90%;
}

.background-dark {
  background-color: #efefef;
}

.twitter-column {
  background-color: #fafafa;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #ddd;


.twitter-column-header {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 25px;
  text-align:right;
}
.moving-handle {
  cursor:move;
}
}