<div class="container" ng-controller="EditController">
    <div class="row">
        <div class="col-xs-12 col-lg-4">
            <form>
                <div class="form-group">
                    <label for="numberOfTweets">Maximum number of tweets to show</label>
                    <input type="number" min="0" max="200" class="form-control" id="numberOfTweets" aria-describedby="numberOfTweetsHelp" ng-model="parameters.numberOfTweets">
                    <small id="numberOfTweetsHelp" class="form-text text-muted">Enter here the maximum number of tweets to show in each column</small>
                </div>
                <div class="form-group date">
                    <div class="dropdown form-group dropdown-start-parent">
                        <label>Start Date</label>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" ng-model="parameters.isStartDate" ng-change="updateStartDate()">
                            Specify a start date
                        </label>
                        <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target=".dropdown-start-parent" ng-show="parameters.isStartDate == true">
                            <div class="input-group date">
                                <input type="text" class="form-control" data-ng-model="parameters.startDate">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="parameters.startDate"
                                            data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"
                                            data-on-set-time="startDateOnSetTime()"
                                            data-before-render="startDateBeforeRender($dates)"></datetimepicker>
                        </ul>
                    </div>
                </div>
                <div class="form-group date">
                    <div class="dropdown form-group dropdown-end-parent">
                        <label>End Date</label>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" ng-model="parameters.isEndDate" ng-change="updateEndDate()">
                            Specify an end date
                        </label>
                        <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target=".dropdown-end-parent" ng-show="parameters.isEndDate == true">
                            <div class="input-group date">
                                <input type="text" class="form-control" data-ng-model="parameters.endDate">
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="parameters.endDate"
                                            data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"
                                            data-on-set-time="endDateOnSetTime()"
                                            data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label for="pageStyle">Select page style</label> <br>
                    <div class="btn-group">
                        <label class="btn btn-secondary" uib-btn-radio="'Light'" ng-model="parameters.style">
                            <span class="style-selector style-selector-light"></span>
                           Light
                        </label>
                        <label class="btn btn-secondary" uib-btn-radio="'Dark'" ng-model="parameters.style">
                            <span class="style-selector style-selector-dark"></span>
                            Dark
                        </label>
                        <label class="btn btn-secondary" uib-btn-radio="'Blue'" ng-model="parameters.style">
                            <span class="style-selector style-selector-blue"></span>
                            Blue
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" ng-click="saveParameters()">Save changes</button>

            </form>
        </div>
    </div>
</div>