<div class="container-fluid" ng-controller="HomeController">
    <br>
    <div class="row" sv-root sv-part="tweetColumns" sv-on-sort="onColumnReordered()">
        <div class="col-xs-12 col-sm-4" ng-repeat="tweetColumn in tweetColumns" sv-element>
            <twitter-column tweets="tweets[tweetColumn.screenName]" tweet-column="tweetColumn"></twitter-column>
        </div>
    </div>
</div>