<div>
    <div class="card">
        <div class="card-block">
            <p class="card-text"><a href="{{ $ctrl.getTweetUrl() }}" target="_blank">{{ $ctrl.tweet.text }}</a></p>
            <div class="card-text" ng-if="$ctrl.isTweetQuoted()">
                <div class="card">
                    <div class="card-block">
                        <blockquote class="card-blockquote">
                            {{ $ctrl.tweet.quoted_status.text }}
                        </blockquote>
                    </div>
                </div>

            </div>
            <p class="card-text" ng-if="$ctrl.tweet.entities.user_mentions.length > 0"><i class="fa fa-user-o" aria-hidden="true"></i> <small><a href="https://twitter.com/intent/user?user_id={{ user.id_str }}" target="_blank" ng-repeat="user in $ctrl.tweet.entities.user_mentions">{{ user.screen_name }} </a></small></p>
            <small class="text-muted">{{ $ctrl.convertToDate($ctrl.tweet.created_at) | date : 'medium' }}</small>
        </div>
        <div class="card-footer">
            <span>
                <i class="fa fa-heart" aria-hidden="true"></i> {{ $ctrl.tweet.favorite_count }}
            </span>
            <span>
                <i class="fa fa-retweet" aria-hidden="true"></i> {{ $ctrl.tweet.retweet_count }}
            </span>
        </div>
    </div>
</div>