<div class="twitter-column" >
    <div class="twitter-column-header">
        <div class="search ">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                <input type="search" class="form-control" placeholder="Search the tweets here.." ng-model="search">
            </div>
        </div>

        <div class="drag">
            <i class="fa fa-arrows moving-handle" aria-hidden="true" sv-handle></i>
        </div>

    </div>
    <div class="card" ng-if="$ctrl.tweets.length > 0">
        <img class="card-img-top img-responsive" ng-src="{{ $ctrl.getColumnImage() }}" alt="Twitter account banner image" height="200px">
        <div class="card-block">
            <h4 class="card-title">{{ $ctrl.tweets[0].user.name }}</h4>
            <p class="card-text">{{ $ctrl.tweets[0].user.description }}</p>
        </div>
    </div>

    <div class="card" ng-if="$ctrl.tweets.length == 0">
        <div class="card-block">
            <h4 class="card-title">{{ $ctrl.tweetColumn.name }}</h4>
            <p class="card-text">No tweets available. Please change the start date, end date or count to show tweets.</p>
        </div>
    </div>

    <p><small class="text-muted m-2">{{ results.length }} tweets</small> </p>

    <div ng-if="$ctrl.tweets.length > 0">
        <div ng-repeat="tweet in $ctrl.tweets | filter:search:search as results track by $index ">
            <twitter-tweet tweet="tweet"></twitter-tweet>
        </div>
    </div>
</div>