<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AppDirect Front-End Coding Challenge</title>
    <!--
    DEV Environment. Remove '#' to put in DEV. Add '#' like this '-#->' to comment DEV.
    -->
    <link rel="stylesheet" href="css/vendors.css" />
    <link rel="stylesheet" href="css/appdirect-challenge.css" />
    <!--
    -->

    <!--
    PROD Environment. Remove '#' to put in PROD.
    -#->
    <link rel="stylesheet" href="css/vendors.min.css" />
    <link rel="stylesheet" href="css/appdirect-challenge.min.css" />
    <!--
    -->
    </head>
    <body ng-app="appdirect.challenge" ng-controller="AppController" ng-class="getBackgroundClass()">
        <header>
            <nav class="navbar navbar-toggleable-md " ng-class="getNavbarClass()">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img ng-src="{{ getLogoUrl() }}" height="30" alt="">
                </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" ui-sref-active="active" href="#" ui-sref="Home">Tweets <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" ui-sref-active="active" href="#" ui-sref="Edit">Edit configuration</a>
                    </div>
                </div>
            </nav>
        </header>

        <div class="alert" ng-if="alert.display" ng-class="getAlertClass(0)">
            {{ alert.message }}
        </div>

        <div ui-view>

        </div>

        <!--
        DEV Environment. Remove '#' to put in DEV. Add '#' like this '-#->' to comment DEV.
        -->
        <script src="js/vendors.js"></script>
        <script src="js/appdirect-challenge.js"></script>
        <!--
        -->

        <!--
        PROD Environment. Remove '#' to put in PROD.
        -#->
        <script src="js/vendors.min.js"></script>
        <script src="js/appdirect-challenge.min.js"></script>
        <!--
        -->
    </body>
</html>